// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//Font-awesome
@import "~font-awesome/scss/font-awesome.scss";

header {
  .header-img {
    img {
      height: 300px;
      width: 100%;
    }
  }
  .navbar{
    .fab{
      color: #ffffff;
    }
  }
}

@media screen and (max-width: 991px) {
  footer {

    .col-12 {
      text-align: center;
    }

  }

}
