// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//Font-awesome
@import "~font-awesome/scss/font-awesome.scss";

header {
  .header-img {
    img {
      height: 300px;
      width: 100%;
    }
  }
  .navbar {
    .fab {
      color: #ffffff;
    }
  }
}

section.newest-articles {
  .jumbotron-fluid {
    &.main-slider-wrapper {
      background-color: gray;
      .flexslider {
        &.mainSlider {
          .flex-control-nav {
            bottom: 0;
            z-index: 10;
          }

          border: none;
          li {
            img {
              &.mainSliderImages {
                height: 500px !important;
                width: 100%;
              }
            }

            .flex-caption {
              max-width: 600px;
              margin-bottom: 40px;
              padding: 10px;
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              //text-align: center;
              background: rgba(0, 0, 0, 0.5);
              color: white;
              p {
                &.main-slider-title {
                  font-weight: bold;
                  margin-bottom: 4px;
                }
                &.main-slider-subtitle {
                  font-weight: normal;
                  margin-bottom: 2px;
                  font-size: 14px;
                }
              }
            }

          }
          .flex-nav-prev {
            a:before {
              font-family: "FontAwesome";
              content: '\f104';
              color: white;
            }
          }
          .flex-nav-next {
            a:before {
              font-family: "FontAwesome";
              content: '\f105';
              color: white;
            }
          }
        }
      }
    }
  }
}

section.list-articles {
  .article-list-wrapper:nth-child(odd){
    background-color: #F5F5F5;

  }
  .article-list-wrapper:nth-child(even){
    background-color: #EBEBEB;

  }
  .article-list-post {
    background-color:  rgba(255, 255, 255, 0.5);
    padding-bottom: 15px;
    padding-top: 15px;
    .article-list-image{
      width: 100%;
      height: auto;
    }
  }

}

footer {
  .logo-footer {
    img {
      height: 150px;
      width: 100%;
    }
  }
  .links a {
    color: white;
  }
}

@media screen and (max-width: 991px) {
  section.newest-articles {
    .jumbotron-fluid {
      &.main-slider-wrapper {
        background-color: gray;
        .flexslider {
          &.mainSlider {
            li {
              .flex-caption {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  footer {
    .logo-footer {
      img {
        height: 150px;
        width: 200px;
      }

    }
  }

}
